/* Global elements */
body {
	color: #222;
	background: url('../img/bg/main.png');
	width: 100%;
	margin: 0;
	font-family: Georgia, serif;
	letter-spacing: .1em;
	line-height: 1.05em;
}

p {
	margin: 0 0 18px 0;
}
ul {
	list-style: square;
	margin: 0 0 0 20px;
}

a {
	color: inherit;
	text-decoration: underline;
}
a img {
	border: 0;
}

h1 {
	color: #0068cc;
	margin: 0 0 20px 0;
	font-family: Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: 100;
}
h2 {
	color: #666;
	margin: 0 0 4px 0;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

b {
	font-weight: bold;
}

hr {
	background: #ddd;
	height: 1px;
	position: relative;
	border: 0;
	margin: 20px 0;
}

/* Sections */
#content {
	font-size: .9em;
}

/* Main elements */
#container {
	background: #fff;
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#header {
	background: #0068cc;
	width: 100%;
	height: 105px;
	position: relative;
	margin: 0 0 35px 0;
	/* box-shadow: 0 0 3px rgba(0, 0, 0, .4); */
}
#logo {
	position: absolute;
	z-index: 2;
	box-shadow: 1px 0 4px rgba(0, 0, 0, .25);
}

#content {
	position: relative;
	padding: 25px 30px;
	overflow: hidden;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
}
.content_photo {
	width: 250px;
	float: right;
	margin: 0 0 5px 80px;
	box-shadow: 0 0 5px #666;
}

footer {
	color: #666;
	width: 950px;
	height: 25px;
	position: relative;
	padding: 5px 25px;
	margin: 0 auto 20px auto;
	font-size: .5em;
	font-weight: bold;
	cursor: default;
}
footer img {
	position: absolute;
	top: 10px;
	right: 25px;
}
