#navigation {
	width: 750px;
	position: relative;
	float: right;
	margin: 79px 0 0 0;
}
#navigation a {
	text-decoration: none;
}

#navigation ul {
	color: #fff;
	list-style: none;
}
#navigation ul li {
	float: left;
	padding: 0 20px 10px 20px;
}

/* Subnavigation */
#navigation ul ul {
	color: #0068cc;
	width: 100%;
	display: none;
	position: absolute;
	left: 0;
	z-index: 1;
	padding: 20px 0 0 0;
}

/* Unhide subnavigation */
#navigation ul li:hover ul {
	display: block;
}

#navigation ul li:hover {
	background: url('../img/icons/menu.png') no-repeat;
	background-position: center bottom;
	cursor: pointer;
}

/* Subnav hover */
#navigation ul ul li:hover {
	color: #555;
	background: none;
}
