/* Frontpage */
#showcase {
	width: 1000px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	padding: -200px 0 0 0;
	border-bottom: solid 3px #7f7;
	box-shadow: inset 0 0 10px #666;
}

#front_item_container {
	width: 100%;
	margin: 500px auto 640px auto;
}
.front_item {
	width: 400px;
	float: left;
	padding: 0 50px 0 0;
}
#front_item_right {
	float: right;
}

/* News */
.news_date {
	color: #888;
	float: left;
	margin: 0 5px 0 0;
}

/* School list */
#schools {
	list-style: none;
	margin: 0;
}
#schools a {
	text-decoration: none;
}
#schools li {
	position: relative;
	padding: 15px;
	border: solid 1px #dedede;
	border-radius: 3px;
	margin: 0 0 10px 0;
}
#schools li img {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Map */
#map_container, #map {
	background: #b5d0d0;
	width: 100%;
	height: 500px;
}
#map_container {
	border: solid 1px #0068cc;
	margin: 0 0 30px 0;
}
.olControlAttribution {
	visibility: hidden;
}

/* Photos */
#photos {
	list-style: none;
	padding: 0;
}

#photos .thumbnail {
	width: 140px;
	height: 140px;
	float: left;
	overflow: hidden;
	padding: 5px;
}
#photos .thumbnail img {
	width: 150px;
}
#photos .thumbnail .photo {
	visibility: hidden;
	width: 500px;
	height: auto;
	position: fixed;
	z-index: 999;
	top: 50px;
	right: 50%;
	left: 50%;
	margin: 0 -250px;
	box-shadow: 0 0 200px #000, 0 0 0 5000px rgba(0, 0, 0, .8);
	pointer-events: none;
}


#photos .thumbnail:hover .photo {
	visibility: visible;
}

/* Address details */
#address {
	margin: 0;
}
#address li {
	list-style: none;
	font-weight: bold;
}
#address ul {
	margin: 0 0 10px 0;
}
#address ul li {
	font-weight: normal;
}

/* Contact form */
#contact {
	width: 400px;
}
#contact ul {
	padding: 0;
	margin: 0;
}
#contact ul li {
	list-style: none;
	padding: 5px 0;
}
#contact input[type="text"], select {
	background: #fff;
	float: right;
	border: solid 1px #aaa;
}
#contact textarea {
	width: 100%;
	height: 100px;
	border: solid 1px #aaa;
	margin: 3px 0 0 0;
	font-family: "Verdana", sans-serif;
}
#contact input[type="submit"] {
	background: #fff;
	padding: 5px 10px;
	border: solid 1px #aaa;
	margin: 0;
}

#contact input[type="text"]:focus,
#contact select:focus,
#contact textarea:focus {
	border: solid 1px #0068cc;
	outline: none;
}
#contact input[type="submit"]:hover {
	color: #0068cc;
	border: solid 1px #0068cc;
	cursor: pointer;
}
